@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Vox Teneo Coding Test - Event Organizer<br />
    <a href="https://github.com/dinanrm/EventOrganizer/tree/develop">Github Link</a></p>
</div>
